root = true

[*]
# indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

# criei este arquivo com essa CFG, para fixar os erros de prettier/eslint.
